<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="refresh" content="60" />
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>

<main>
    <div class="item">
        <div class="title"> Number of users: </div>
        <div class="value" th:text="${number_of_users}"></div>
    </div>

    <div class="item">
        <div class="title"> Number of vehicles: </div>
        <div class="value" th:text="${number_of_vehicles}"></div>
    </div>

    <div class="item">
        <div class="title"> Number of emails sent: </div>
        <div class="value" th:text="${number_of_emails}"></div>
    </div>
</main>

</body>
</html>